.list-container {
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}
.example-button-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 12px;
}

.example-spacer {
  flex: 1 1 auto;
}
.img{
  size: A4;
}

.text{
  color: darkred;
 font-family: 'Festive', cursive;
  font-max-size: larger;
  font-size: 25px;
  margin-top: 200px;
  margin-left: 500px ;
  text-align: center;
  line-height: 45px;
  text-shadow: 2px 2px 3px black;
  inline-size: 500px;
  overflow-wrap: break-word;
  animation-name: example;
  animation-duration: 10s;
}
