
<section class="back" >

  <header class="header">
    <a>CITIES</a>
  </header>

  <div class="list-container">

    <app-preview-city *ngFor="let city of cities" [city]="city"
                      (click)="onSelectCity(city)" >
    </app-preview-city>

    <span class="example-spacer"></span>

  </div>

  <div class="article"  *ngIf="selectedCity" >
    <h1>{{selectedCity.name}} </h1>
    <p>{{selectedCity.description}}<p>
    <img src="{{selectedCity.imageUrl}}"/>

  </div>

</section>

<!--<button mat-raised-button *ngFor="let city of cities"-->
<!--        routerLink="/university-preview"-->
<!--        [queryParams]="{universityId: selectedCity.name}"-->
<!--        (click)="onSelectCity (city)">{{ selectedCity.name}}</button>-->











