.example-spacer {
  flex: 1 1 auto;
}

.text{
  color: darkred;
  font-family: 'Festive', cursive;
  font-max-size: larger;
  font-size: 25px;
  margin-top: 200px;
  margin-left: 500px ;
  text-align: center;
  line-height: 45px;
  text-shadow: 2px 2px 3px black;
  inline-size: 500px;
  overflow-wrap: break-word;
  animation-name: example;
  animation-duration: 10s;
}


.mat-icon{
  font-family: "Monotype Corsiva", cursive;
  color: olivedrab;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
}

.mat-toolbar, a{
  font-family: "Monotype Corsiva", cursive;
  background-color: cornsilk;
  color: black;
}


